<form class="new-reminder-form" >
  Title: {{input class="title-input" type="text" value=model.title placeholder="Title"}}
  Body: {{input class="reminder-input" type="text" value=model.body placeholder="Reminder"}}
  <button class="submit-btn" type="submit" {{action "submitReminder" model}}>Submit</button>
</form>
