<h1>Raphael</h1>

{{#each model as |reminder|}}
  <div>
    {{#link-to "reminders.reminder" reminder class='reminder-item'}}{{reminder.title}}{{/link-to}}
  </div>
{{/each}}

{{#link-to "reminders.new" class='new-button'}}<button>Create New</button>{{/link-to}}

{{outlet}}